<section class="request-card">

  <div class="request-header">
    <h2>Requests</h2>
  </div>

  <form (ngSubmit)="submitRequest()">

    <div class="form-row">

      <div class="form-group">
        <input type="date" id="Date" name="Date" [(ngModel)]="Date" required />
        <label>Date</label>
      </div>

      <div class="form-group">
        
        <select id="RequestType" name="RequestType" [(ngModel)]="RequestType" required>
          <option value="Equipment Problem">Equipment Problem</option>
          <option value="Task Assistance">Task Assistance</option>
          <option value="Personal">Personal</option>
        </select>
        <label>Request Type</label>
      </div>

    </div>

    <div class="form-group">
      <textarea id="RequestDescription" name="RequestDescription" [(ngModel)]="RequestDescription" rows="4"
        required></textarea>
      <label>Reason</label>
    </div>


    <div class="request-actions">
      <button type="submit" class="btn-submit">Submit</button>
    </div>

  </form>

  <div *ngFor="let req of reqdata" class="request-info-card">

    <div class="request-header">
      <h2>My Requests</h2>
    </div>

    <div class="request-info-grid">

      <div class="request-info-item">
        <span class="label"> Request Type :</span>
        <span class="value">{{req.RequestType}}</span>
      </div>

      <div class="request-info-item">
        <span class="label">Date :</span>
        <span class="value">{{req.Date | date:'short'}}</span>
      </div>

    </div>

    <div class="request-info-grid">

      <div class="request-info-item">
        <span class="label">Description :</span>
        <span class="value">{{req.RequestDescription}}</span>
      </div>

      <div class="request-info-item">
        <span class="label">Manager Respponse :</span>
        <span class="value">{{req.Response?.text || 'Not responded yet'}}</span>
      </div>
    </div>

    <div class="request-info-grid">

      <div class="request-info-item">
        <span class="label">Response Date :</span>
        <span class="value">{{ req.Response?.ResDate ? (req.Response.ResDate | date:'short') : '-' }}</span>
      </div>

    </div>

  </div>
</section>