<section>

    <div class="meal-orders-header">
        <h2>Food Orders List</h2>
    </div>

    <div>

        <div class="meal-orders-info-card" *ngFor="let req of mealOrders">

            <div class="meal-orders-info-grid">

                <div class="meal-orders-info-item">
                    <span class="label">Order Date :</span>
                    <span class="value">{{req.OrderDate | date:'short'}}</span>
                </div>

                <div class="meal-orders-info-item">
                    <span class="label">Employee Id :</span>
                    <span class="value">{{req.EmployeeId}}</span>
                </div>
            </div>

            <div class="meal-orders-info-grid">

                <div class="meal-orders-info-item">
                    <span class="label">Full Name :</span>
                    <span class="value">{{req.FullName}}</span>
                </div>

                <div class="meal-orders-info-item">
                    <span class="label">Order Details:</span>
                    <span class="value">
                        <ul>
                            <li>Main Course: {{ req.MainCourse }}</li>
                            <li>Fish: {{ req.Fish }}</li>
                            <li>Vegeterian: {{ req.Vegeterian }}</li>
                            <li>Toppings: {{ req.ToppingOne }}, {{ req.ToppingTwo }}</li>
                            <li>Salad: {{ req.Salad }}</li>
                            <li>Drink: {{ req.Drink }}</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="meal-list-action">
        <button class="btn-submit" (click)="downloadPdf()">Download to PDF</button>
    </div>

</section>