<h2>Food Orders List</h2>
<section>
    <input type="date" [(ngModel)]="selectedDate" (change)="allOrders()">
    <button (click)="downloadPdf()">Download to PDF</button>
</section>
<table>
    <thead>
        <tr>
            <th>Order Date</th>
            <th>Employee ID</th>
            <th>Full Name</th>
            <th>Order Details</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let req of mealOrders">
            <td>{{ req.OrderDate | date:'short' }}</td>
            <td>{{ req.EmployeeId }}</td>
            <td>{{ req.FullName }}</td>
            <td>
                <ul>
                    <li>Main Course: {{ req.MainCourse }}</li>
                    <li>Fish: {{ req.Fish }}</li>
                    <li>Vegeterian: {{ req.Vegeterian }}</li>
                    <li>Toppings: {{ req.ToppingOne }}, {{ req.ToppingTwo }}</li>
                    <li>Salad: {{ req.Salad }}</li>
                    <li>Drink: {{ req.Drink }}</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>