<div class="content">
  <h2>Transportation Registration</h2>

  <form (ngSubmit)="submitTransportation()" class="form-container">
    <label for="type"><strong>Transportation Type:</strong></label>
    <select id="type" [(ngModel)]="transportationType" name="type" required class="form-select">
      <option value="One-Time">One-Time</option>
      <option value="Permanent">Permanent</option>
    </select>

    <label for="Date"><strong>Date:</strong></label>
    <input type="date" id="Date" name="Date" [(ngModel)]="Date" required class="form-input" />

    <label for="Time"><strong>Time:</strong></label>
    <input type="time" id="Time" name="Time" [(ngModel)]="Time" required class="form-input" />

    <label for="destination"><strong>Destination:</strong></label>
    <input id="destination" name="destination" [(ngModel)]="destination" required class="form-input" />

    <button type="submit" class="btn-submit">Submit</button>
  </form>
</div>
