<header>
  <h1>OHM Power Solutions</h1>
  <button type="button" class="logout-btn" (click)="logout()">Logout</button>
</header>

<div class="content">
  <aside class="sidebar" aria-label="Main Navigation">
    <nav>
      <ul>
        <li><a routerLink="personal-data">Personal Data</a></li>
        
        <div class="dropdown">
          <button class="dropbtn">Meal Management
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a routerLink="meal-order">Meal Order</a>
            <a routerLink="meal-menu">Create Meal Menu</a>
            <a routerLink="meal-oredr-list">Meal Order List</a>
          </div>
        </div>

        <li><a routerLink="transportation">Transportation</a></li>
        <li><a routerLink="absence">Absence</a></li>
        <li><a routerLink="overtime-register">Overtime Register</a></li>
        <li><a routerLink="employee-manag">Employee Management</a></li>
        <li><a routerLink="order-managment">Orders Management</a></li>
        <li><a routerLink="contact-requests">Contact Requests</a></li>
        <li><a routerLink="set-business-meetings">Set Business Meetings</a></li>
      </ul>
    </nav>
  </aside>

  <main>
    <router-outlet></router-outlet>
  </main>

</div>

<footer>
  <p>&copy; 2025 OHM Power Solutions. All rights reserved.</p>
</footer>