<header>
  <h1>OHM Power Solutions</h1>
  <button (click)="logout()">Logout</button>
</header>

<div class="content">
  <aside class="sidebar" aria-label="Main Navigation">
    <nav>
      <ul>
        <li><a routerLink="personal-data">Personal Data</a></li>

        <li>
          <a dropzone="aria-label">Meal Management</a>
          <ul>
            <li><a routerLink="meal-order">Meal Order</a></li>
            <li><a routerLink="meal-menu">Create Meal Menu</a></li>
            <li><a routerLink="meal-oredr-list">Meal Order List</a></li>
          </ul>
        </li>

        <li><a routerLink="transportation">Transportation</a></li>
        <li><a routerLink="absence">Absence</a></li>
        <li><a routerLink="overtime-register">Overtime Register</a></li>
        <li><a routerLink="employee-manag">Employee Management</a></li>
        <li><a routerLink="order-managment">Orders Management</a></li>
        <li><a routerLink="contact-requests">Contact Requests</a></li>
        <li><a routerLink="set-business-meetings">Set Business Meetings</a></li>
      </ul>
    </nav>
  </aside>

  <main>
    <router-outlet></router-outlet>
  </main>
</div>

<footer>
  <p>&copy; 2025 OHM Power Solutions. All rights reserved.</p>
</footer>
