<section class="profile-card" *ngIf="user">

  <div class="profile-header">
    <h1>Edit Profile</h1>

    <div class="profile-actions">
      <button type="button" (click)="toggleEdit()" class="btn-edit">
        {{ editMode ? 'Cancel' : 'Edit' }}
      </button>
      <button *ngIf="editMode" type="button" (click)="onSubmit()" class="btn-save">
        Save
      </button>
    </div>
  </div>

  <form [formGroup]="personalForm">
    <div class="form-row">

      <div class="form-group">
        <input formControlName="FullName" required>
        <label>Full Name</label>
      </div>

      <div class="form-group">
        <input formControlName="Email" type="email" required>
        <label>Email</label>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group">
        <input formControlName="Phone" type="tel">
        <label>Phone</label>
      </div>

      <div class="form-group">
        <input formControlName="Address">
        <label>Address</label>
      </div>

    </div>

    <div class="form-row">

      <div class="form-group">
        <input formControlName="UserName">
        <label>UserName</label>
      </div>

      <div class="form-group">
        <input type="password" formControlName="Password" autocomplete="new-password">
        <label>Current Password</label>
      </div>

    </div>

  </form>
  

  <div class="employee-card">
    <div class="profile-header">
      <h1>personal Data</h1>
    </div>

    <div class="employee-grid">

      <div class="employee-item">
        <span class="label">ID :</span>
        <span class="value">{{ user.Id }}</span>
      </div>

      <div class="employee-item">
        <span class="label">Job Title :</span>
        <span class="value">{{ user.JobTitle }}</span>
      </div>

    </div>

    <div class="employee-grid">

      <div class="employee-item">
        <span class="label">Employment Date :</span>
        <span class="value">{{ user.EmploymentDate | date:'mediumDate' }}</span>
      </div>

      <div class="employee-item">
        <span class="label">Department :</span>
        <span class="value">{{ user.Department }}</span>
      </div>

    </div>

    <div class="employee-grid">

      <div class="employee-item">
        <span class="label">Status :</span>
        <span class="value">{{ user.Status }}</span>
      </div>

      <div class="employee-item">
        <span class="label">Role :</span>
        <span class="value">{{ user.Role }}</span>
      </div>

    </div>

    <div class="employee-grid">

      <div class="employee-item">
        <span class="label">Employer :</span>
        <span class="value">{{ user.EmployerName }}</span>
      </div>

    </div>

  </div>
</section>