<section aria-labelledby="personal-data-heading">
    <h2 id="personal-data-heading">Personal Data</h2>
    <dl *ngIf="user">
      <dt>Full Name:</dt>
      <dd>{{ user.FullName }}</dd>

      <br /><br />

      <dt>Email:</dt>
      <dd>{{ user.Email }}</dd>

      <br /><br />

  
      <dt>Phone:</dt>
      <dd>{{ user.Phone }}</dd>

      <br /><br />

  
      <dt>Address:</dt>
      <dd>{{ user.Address }}</dd>

      <br /><br />

  
      <dt>Id:</dt>
      <dd>{{ user.Id }}</dd>

      <br /><br />

  
      <dt>Job Title:</dt>
      <dd>{{ user.JobTitle }}</dd>

      <br /><br />

  
      <dt>Employment Date:</dt>
      <dd>{{ user.EmploymentDate }}</dd>

      <br /><br />

  
      <dt>Department:</dt>
      <dd>{{ user.Department }}</dd>

      <br /><br />

  
      <dt>Status:</dt>
      <dd>{{ user.Status }}</dd>

      <br /><br />

  
      <dt>Role:</dt>
      <dd>{{ user.Role }}</dd>

      <br /><br />

  
      <dt>Employer Name:</dt>
      <dd>{{ user.EmployerName }}</dd>

      <br /><br />

    </dl>
  </section>
  