<section class="contact-card">
  <div class="contact-header">
    <h2>New Contact Requests</h2>
  </div>

  <div *ngFor="let req of Businessrequests" class="contact-info-card">
    <!-- Request details -->
    <div class="contact-info-grid">
      <div class="contact-info-item">
        <span class="label">Client Name :</span>
        <span class="value">{{ req.FullName }}</span>
      </div>

      <div class="contact-info-item">
        <span class="label">Date :</span>
        <span class="value">{{ req.Date }}</span>
      </div>

      <div class="contact-info-item">
        <span class="label">Email :</span>
        <span class="value">{{ req.Email }}</span>
      </div>

      <div class="contact-info-item">
        <span class="label">Message :</span>
        <span class="value">{{ req.Message }}</span>
      </div>
    </div>
  </div>
</section>
