<h2>Orders List</h2>
<table >
  <thead>
    <tr>
      <th>Client</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Meeting Date</th>
      <th>Details</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders">
      <td>{{ order.ClientFullName }}</td>
      <td>{{ order.ClientEmail }}</td>
      <td>{{ order.ClientPhone }}</td>
      <td>{{ order.MeetingDate | date }}</td>
      <td>{{ order.OrderDetails }}</td>
      <td>
        <select [value]="order.Status" (change)="updateStatus(order._id, $event)">
          <option value="Pending">Pending</option>
          <option value="Approved">Approved</option>
          <option value="In Progress">In Progress</option>
          <option value="Completed">Completed</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
