<section>

  <div class="employee-requests-header">
    <h2>Employee Requests</h2>
  </div>

  <div *ngFor="let req of requests" class="employee-requests-info-card">

    <div class="employee-requests-card-header">
      <h3>From : <span class="value">{{ req.FullName }}</span></h3>
    </div>

    <div class="employee-requests-info-grid">

      <div class="employee-requests-info-item">
        <span class="label">Date :</span>
        <span class="value">{{ req.Date | date: 'shortDate' }}</span>
      </div>

      <div class="employee-requests-info-item">
        <span class="label">Type :</span>
        <span class="value">{{ req.RequestType }}</span>
      </div>

      <div class="employee-requests-info-item">
        <span class="label">Description :</span>
        <span class="value">{{ req.RequestDescription }}</span>
      </div>

      <div class="employee-requests-info-item" *ngIf="req.Response">
        <span class="label">Response :</span>
        <span class="value">{{ req.Response.Text }}</span>
      </div>

      <div class="employee-requests-info-item" *ngIf="req.Response">
        <span class="label">Response Date :</span>
        <span class="value">{{ req.Response.ResDate | date: 'short' }}</span>
      </div>

      <div class="employee-requests-info-item" *ngIf="!req.Response">
        <label class="label" for="response-{{ req._id }}">Response :</label>
        <textarea [(ngModel)]="responseTexts[req._id]" id="response-{{ req._id }}" rows="2"
          class="response-textarea"></textarea>
        <button class="primary-btn" (click)="sendResponse(req._id)">Send Response</button>
      </div>

    </div>

  </div>

</section>
